<%
=begin %>
<% if signed_in? %>

  <%= render 'user_home' %>

<% else %>

  <div class="jumbotron">
    <h1>Plan an Event</h1>
    <p class="lead">Keep track of events with your friends.  This is a simple app to organize your event planning.
       </p>
    <p><%= link_to "Create an Event", signup_path, class: "btn btn-lg btn-success" %></p>
  </div>

<% end %>


<section class="first-section">

  <h1 class="centered-text">Welcome to the Private Events</h1>

  <div class="welcome-container">

    <% if @user %>
      <h3>
        Hi there <%= @user.name %>,
        <% if @upcoming_events.count > 0 %>
          you have <%= @upcoming_events.count %> event(s) to attend.</h3>

          <div class="attending-events-container">

            <%= render partial: "events/event", object: @upcoming_events, as: 'events' %>

          </div>

        <% else %>
        <h3>you don't have any future events to attend to.</h3>
        <% end %>
    <% else %>
      <h3>Not a member yet? <%= link_to "Join us", signup_path %> now!</h3>
    <% end %>

  </div>

</section>
<%
=end %>


<section class="first-section">

  <h1 class="centered-text">Welcome to the Private Events</h1>

  <div class="welcome-container">

    <% if signed_in? %>
    <p><a href="/events/new" class = btn btn-lg btn-success>create event</a></p>
      <h3>
        Hi there <%= @user.name %>,
        <% if @upcoming_events.count > 0 %>
          you have <%= @upcoming_events.count %> event(s) to attend.</h3>

          <div class="attending-events-container">

            <%= render partial: "events/event", object: @upcoming_events, as: 'events' %>

          </div>

        <% else %>
        <h3>you don't have any future events to attend to.</h3>
        <% end %>
    <% else %>
      <h3>Not a member yet? <%= link_to "Join us", signup_path %> now!</h3>
      <p><a href="/events/new" class = btn btn-lg btn-success>create event</a></p>
    <% end %>

  </div>

</section>