<table class="table table-condensed">   
  <thead>
    <tr>
      <td class="col-sm-2">Date</td>
      <td class="col-sm-4">Name</td>
      <td class="col-sm-3">Location</td>
      <td class="col-sm-2">Host</td>
      <td class="col-sm-1">Attend</td>
    </tr>
  </thead>

  <% events.each do |event| %>
  <tr>
    <td><%= event.time.strftime("%d/%m/%Y")  %></td>
    <td><%= link_to event.name, event_path(event) %></td>
    <td><%= event.location %></td>
    <td><%= link_to event.creator, user_path(event.creator) %></td>
    <td class="text-center"><%= event.attendees.count %></td>
  </tr>
  <% end %>   
</table>