<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	  <%= link_to "Eventbrite app", root_path, id: "logo" %>
	  <nav>
	    <ul class="nav navbar-nav navbar-right">
	      <li><%= link_to "Home",   root_path %></li>
	      <li><%= link_to "Users",   users_path %></li>
	      <li><%= link_to "Event",   events_path  %></li>
	      <% if @user %>
	        <li><%= link_to "#{@user.name} (Log Out)", signout_path, method: "delete" %></li>
	      <% else %>
	        <li><%= link_to "Log In", signin_path %></li>
	      <% end %>
	    </ul>
	  </nav>
	</div>
</header>